<%= form_for(@initiative) do |f| %>
  <% if @initiative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@initiative.errors.count, "error") %> prohibited this initiative from being saved:</h2>

      <ul>
      <% @initiative.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row-fluid">
  <div class="span12">
    <div class="span6">
      <h4>Basic information</h4>
      <div class="row-fluid">
        <div class="field">
          <div class="control-group">
            <%= f.label :name, :class => 'control-label'%>
            <div class="controls">
              <%= f.text_field :name %>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control-group">
          <%= f.label :description, :class => 'control-label' %>
            <div class="controls">
            <%= f.text_area :description, :class=>'span6', :rows=>4 %>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control-group">
          <%= f.label :initiativetype, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :initiativetype %>
              </div>
          </div>
        </div>
        <div class="field">
          <div class="control-group">
          <%= f.label :status, :class => 'control-label' %>
            <div class="controls">
            <%= f.text_field :status %>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control-group">
          <%= f.label :year, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :year %>
              </div>
          </div>
        </div>
        <div class="field">
          <div class="control-group">
            <%= f.label :issue_ids, "Select an issue area for this initiative", :class => 'control-label' %>
            <div class="controls">
              <%= f.collection_select :issue_ids, Issue.all, :id, :name %>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end span6 -->
    <div class="span6">
      <h4>Financial information</h4>
      <div class="row-fluid">
        <div class="field">
          <div class="control-group">
            <%= f.label :contributions, :class => 'control-label' %>
            <div class="controls">
              <%= f.number_field :contributions %>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control-group">
            <%= f.label :expenditures, :class => 'control-label' %>
            <div class="controls">
              <%= f.number_field :expenditures %>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end span6 -->
    <div class="span6">
      <div class="row-fluid">
        <div class="field">
          <div class="control-group">
            <%= f.label :firm_ids, "Select a consulting firm for this initiative", :class => 'control-label' %>
            <div class="controls">
              <%= f.collection_select :firm_ids, Firm.all, :id, :name %>
            </div>
          </div>
        </div>
        <%= f.fields_for :consultant_services do |builder| %>
          <div class="field">
            <div class="control-group">
              <%= builder.label :total_promised, "Total promised", :class => 'control-label' %>
              <div class="controls">
                <%= builder.text_field :total_promised %>
              </div>
              </div>
            </div>
            <div class="field">
              <div class="control-group">
                <%= builder.label :total_received, "Total received", :class => 'control-label' %>
                <div class="controls">
                  <%= builder.text_field :total_received %>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary offset7' %>
  </div>
<% end %>
</div> <!-- end row-fluid -->
