<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @initiative.name %>
</p>

<p>
  <b>Description:</b>
  <%= @initiative.description %>
</p>

<p>
  <b>initiativeType:</b>
  <%= @initiative.initiativetype %>
</p>

<p>
  <b>Status:</b>
  <%= @initiative.status %>
</p>

<p>
  <b>Year:</b>
  <%= @initiative.year %>
</p>

<p>
  <b>Contributions:</b>
  <%= number_to_currency @initiative.contributions %>
</p>

<p>
  <b>Expenditures:</b>
  <%= number_to_currency @initiative.expenditures %>
</p>


<%= link_to 'Edit', edit_initiative_path(@initiative) %> |
<%= link_to 'Back', initiatives_path %>
