<div class="navbar navbar-inverse navbar-fixed-top"> <!-- navbar -->
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Home", root_path, :class => 'brand' %>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="<%= 'active' if current_page?(root_url)%>">
						<%= link_to "Home", root_path %>
					</li>
					<li>
					</li>
					<li class="<%= 'active' if current_page?(:controller => 'initiatives', :action => 'index')%>">
						<%= link_to "Initiatives", initiatives_path %>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div> <!-- /navbar -->
